@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Major+Mono+Display&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Cormorant+SC:wght@300;400;500;600;700&family=El+Messiri&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lobster+Two&family=Mali&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#chart_back {
  width: 100%;
  height: 93.3vh;
  transition: all 0.5s ease-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.chartBox {
  width: 80%;
  min-height: 450px;
  padding: 0 auto 0 auto;
}

.glass {
  background: linear-gradient(135deg,
      rgba(47, 47, 47, 0.3),
      rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 8px 32px 0 rgba(17, 17, 17, 0.527);
  transition: all 0.4s cubic-bezier(0.78, 0.48, 0.11, 1.13);
  margin: 0 auto;
}

.glass:hover {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.main_chart {
  position: relative;
}

.container-app {
  width: 100%;
  height: 100%;
}

#chart_back h1 {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 40px 0;
  text-shadow: 1px 1px 10px rgba(49, 49, 49, 0.9);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.86);
}

#lineC {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 10px 10px 10px gray;
  opacity: 0.4;
}