* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
  }
.container-app{
    width: 100%;
    height: 90vh;
    position: relative;
}
  #chart_back {
    width: 100%;
    height: 93.3vh;
    transition: all 0.5s ease-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }
  .chartBox {
    width: 80%;
    min-height: 450px;
    padding: 0 auto 0 auto;
  }
  .glass {
    background: linear-gradient(
      135deg,
      rgba(47, 47, 47, 0.3),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    /* border:1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(17, 17, 17, 0.527);
    transition: all 0.4s cubic-bezier(0.78, 0.48, 0.11, 1.13);
    margin: 0 auto;
  }
  .glass:hover {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .main_chart{
    position: relative;
  }
  .container-app{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #chart_back h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0;
    text-shadow: 5px 10px 8px black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1.4px;
    color: black;
  }
  #lineC {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
    opacity: 0.4;
  }
  .posi_new{
    position: absolute;
  }