* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 80vh;
  }
.container-app{
    width: 100%;
    height: 80vh;
    position: relative;
}
.container-app ul{
    display: flex;
    justify-content: right;
    list-style-type: none;
    background-color: #00ADB5;
    box-shadow: 0px 1px 10px #888888;
}
.container-app li{
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.container-app li a,#head{
    text-decoration: none;
    color: #EEEEEE;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
#names{
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    color: #EEEEEE;
    background-color: #393E46;
    font-weight: 900;
}
.container-app li option{
    font-weight: 900;
    color: #EEEEEE;
}
.search{
    display: flex;
    justify-content: space-evenly;
}
.search button{
    border: none;
    background-color: #00ADB5;
}
.search .item{
    margin: 0 5px;
}
button:hover,.clicked-s{
    opacity: 0.4;
}
input{
    padding: 10px;
    border-radius: 20px;
    width: 220px;
    border: 2px solid lightgrey;
}
  #chart_back {
    width: 100%;
    height: 91.5vh;
    transition: all 0.5s ease-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }
  .chartBox {
    width: 80%;
    min-height: 450px;
    padding: 0 auto 0 auto;
  }
  .glass {
    background: linear-gradient(
      135deg,
      rgba(47, 47, 47, 0.3),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgba(17, 17, 17, 0.527);
    transition: all 0.4s cubic-bezier(0.78, 0.48, 0.11, 1.13);
    margin: 0 auto;
  }
  .glass:hover {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .main_chart{
    position: relative;
  }
  .container-app{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #chart_back h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0;
    text-shadow: 5px 10px 8px black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1.4px;
    color: black;
  }
  #lineC {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
    opacity: 0.4;
  }
  .posi_new{
    position: absolute;
  }