.container-1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: #3ab0ffc6;
    position: relative;
    overflow: hidden;
}

.main {
    display: flex;
    transform: translateY(-200px);
    animation: y-axis 2s infinite ease-in-out;
    position: absolute;
    left: 400px;
}

.main h1 {
    padding: 10px 10px;
}

.fa-sun {
    animation: x-axis 3s infinite linear;
    color: orangered;
}

#load span {
    animation: dot 1s linear infinite;
}

@keyframes dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes x-axis {
    50% {
        transform: translateX(700px) rotate(360deg);
    }
}

@keyframes y-axis {
    50% {
        transform: translateY(200px);
    }
}

#load {
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.cloud1,
.cloud2,
.cloud3,
.cloud4,
.cloud5,
.cloud6 {
    top: 50px;
    width: 250px;
    height: 100px;
    background-color: white;
    border-radius: 100px;
}

.cloud1::before,
.cloud2::before,
.cloud3::before,
.cloud4::before,
.cloud5::before,
.cloud6::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 30px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 40px 0 0 10px white;
} 

.cloud1 {
    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 10;
}

.cloud2 {
    position: absolute;
    top: 30px;
    right: 350px;
}

.cloud3 {
    position: absolute;
    top: 550px;
    left: 300px;
    z-index: 10;
}

.cloud4 {
    position: absolute;
    left: -30px;
    top: 400px;
}

.cloud5 {
    position: absolute;
    right: 300px;
    top: 680px;
}

.cloud6 {
    position: absolute;
    right: 250px;
    top: 350px;
    z-index: 10;
}
@media screen and (max-width:770px) and (min-width:531px){
    .cloud5,.cloud2{
        display: none;
    }
    .cloud6{
        right: 10px;
    }
    .main{
        left: 40px;
        transform: translateY(0px);
        animation: y-axis 2s infinite ease-in-out;
    }
    .cloud4{
        z-index: 10;
    }
    .cloud1{
        z-index: 0;
    }
    .fa-sun{
        animation: x-axis 2s infinite linear;
    }
    @keyframes y-axis {
        50% {
            transform: translateY(-200px);
        }
        100%{
            transform: translateY(0px);
        }
    }
    @keyframes x-axis {
        0%{
            transform: translateX(0px);
        }
        50% {
            transform: translateX(300px) rotate(360deg);
        }
        100%{
            transform: translateX(600px) rotate(1080deg);
        }
    }
}
@media screen and (max-width:530px) {
    .cloud1,.cloud2,.cloud3,.cloud4,.cloud5{
        display: none;
    }
    .cloud6{
        left:0;
        top:245px;
        right: 0;
        margin: 0 auto;
    }
    .main{
        left: 180px;
        transform: translateY(0px);
        animation: y-axis 2s infinite ease-in-out;
    }
    .fa-sun{
        animation: x-axis 6s infinite linear;
    }
    @keyframes y-axis {
        0%{
            transform: translateY(-250px);
        }
        50% {
            transform: translateY(-65px);
        }
        100%{
            transform: translateY(-250px);
        }
    }
    @keyframes x-axis {
        0%{
            transform: translateX(0px) rotate(360deg);
        }
        16% {
            transform: translateX(0px) rotate(0deg);
        }
        32%{
            transform: translateX(-200px) rotate(360deg);
        }
        48%{
            transform: translateX(0px) rotate(0deg);
        }
        64%{
            transform: translateX(200px) rotate(360deg);
        }
        100%{
            transform: translateX(0px) rotate(0deg);
        }
    }
}
@media  screen and (max-width:481px) {
    .main{
        left:150px;
    }
    
}
@media  screen and (max-width:381px) {
    .main{
        left:120px;
    }
    @keyframes x-axis {
        0%{
            transform: translateX(0px) rotate(360deg);
        }
        16% {
            transform: translateX(0px) rotate(0deg);
        }
        32%{
            transform: translateX(-110px) rotate(360deg);
        }
        48%{
            transform: translateX(0px) rotate(0deg);
        }
        64%{
            transform: translateX(200px) rotate(360deg);
        }
        100%{
            transform: translateX(0px) rotate(0deg);
        }
    }
    
}